html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Armata", sans-serif;
  font-size: 18px;
}

.formulaire {
  border: 1px solid #999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 320px;
  padding: 10px;
}

fieldset {
  border: 0px solid;
  margin: 15px;
  padding: 10px;
}

.form-control {
  height: 40px;
  width: 300px;
}

.action {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.sentence {
  font-size: 15px;
}
.sentence a {
  text-decoration: none;
}
.sentence a:hover {
  font-style: italic;
}

.btn {
  height: 40px;
  width: 120px;
}
